<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base.html' %}
    {% load staticfiles %}
    {% block title %}{{ article.headline }}{% endblock %}
    {% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    {% endblock %}
<body>
    {% block content %}
        <h1>{{ article.headline }}</h1>
        <p>{{ article.text_body }}</p>
    {% if edit %}
    <a href="{%url 'edit_article' article.id %}">修改文章</a>
    {% endif %}
    {% endblock %}
</body>
</html>