<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/base.html' %}
    {% block title %}文章列表{% endblock %}
</head>
<body>
{% block content %}
    {% for article in articles %}
    <h3><a href="article/{{article.id}}">{{ article.headline }}</a></h3>
    {% endfor %}
    {% if total_page == 1 %}
    <ul>
        <li>上一页</li>
        <li><a href="#">{{ page }}</a></li>
        <li>下一页</li>
    </ul>
    {% elif page == 1 %}
    <ul>
        <li>上一页</li>
        <li><a href="#">{{ page }}</a></li>
        {% for p in range(page+1,page+4) %}
        <li><a href="{% url 'article_list' p %}">{{ p }}</a></li>
        {% endfor %}
        <li>......</li>
        <li><a href="{% url 'article_list' total_page %}">{{ total_page }}</a></li>
        <li><a href="{% url 'article_list' page+1 %}">下一页</a></li>
    </ul>
    {% elif page == total_page %}
    <ul>
        <li><a href="{% url 'article_list' page-1 %}">上一页</a></li>
        <li>......</li>
        {% for p in range(page-2,total_page) %}
        <li><a href="{% url 'article_list' p %}">{{ p }}</a></li>
        {% endfor %}
        <li><a href="{% url 'article_list' total_page %}">{{ total_page }}</a></li>
        <li>下一页</li>
    </ul>
    {% else %}
    <ul>
        <li><a href="{% url 'article_list' page-1 %}">上一页</a></li>
        <li>......</li>
        <li><a href="{% url 'article_list' page-1 %}">{{ page-1 }}</a></li>
        <li><a href="#">{{ page }}</a></li>
        <li><a href="{% url 'article_list' page+1 %}">{{ page+1 }}</a></li>
        <li>......</li>
        <li><a href="{% url 'article_list' total_page %}">{{ total_page }}</a></li>
        <li><a href="{% url 'article_list' page+1 %}">下一页</a></li>
    </ul>
    {% endif %}
{% endblock %}
</body>
</html>